<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>管理员-博文审计</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css" th:href="@{../css/semantic.min.css}">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/semantic.min.js" th:src="@{../js/semantic.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{../css/common.css}">
    <script type="text/javascript" src="../../static/js/header.js" th:src="@{../js/header.js}">  </script>
  </head>
  <body>
    <!-- 导航 -->
    <div th:replace="/../common::header"></div>
    <div class="ui container m_main_top">
      <div class="ui vertical pointing menu" style="float:left;">
        <a class="item" href="/admin/userAudit">
          用户审计
        </a>
        <a class="active item" href="/admin/blogAudit">
          博文审计
        </a>
        <a class="item" href="/admin/reportAudit">
          举报审计
        </a>
        <a class="item" href="/admin/informAudit">
          发送通知
        </a>
      </div>
      <div class="ui raised very padded segment m_middle_width">
        <div class="">
          <form class="" name="searchForm" action="/admin/searchBlog" method="post">
          <div class="ui fluid action input">
            <input type="text" name="search" placeholder="搜索...">
            <div onclick="document.forms['searchForm'].submit()" class="ui button">Search</div>
          </div>
          </form>
        </div>
        <div th:fragment="blog" id="main">
          <input type="hidden" name="" id="userSearch" th:value="${search}" value="">
          <div th:if="${page}!=null">
          <div class="ui celled list">
            <div th:each="blog:${page.content}">
              <div class="item">
                <div class="ui header">
                  <a th:href="@{/blog/Detail(blogId=${blog.id})}" class="ui header" th:text="${blog.title}"></a>
                </div>
                <img class="ui avatar image" th:src="${blog.user.headPortrait}" src="../images/avatar/small/helen.jpg">
                <button class="ui button" type="button" name="button" th:attr="data-commentid=${blog.id}" onclick="deleteBlog(this)" style="float:right;">删除</button>
                <span class="content">
                  <a class="header" th:href="@{/blog/user(userId=${blog.user.id})}" th:text="${blog.user.nickname}">Snickerdoodle</a># <span th:text="${blog.user.id}"></span>
                </span>
                <div class="ui divider"></div>
              </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
    $(function() {
      $(".ui.dropdown").dropdown();
    });

    function deleteBlog(obj) {
        var blogId = $(obj).data('commentid');
        var search = document.getElementById('userSearch').value;
        var type = $(obj).text();
        $('#main').load("/admin/deleteBlog",
            {
            "blogId":blogId,
            "search":search,
            "type":type
        },function (responseText,statusTxt,xhr) {
        });
    }
</script>

  </body>
</html>
