<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>我的博文</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css" th:href="@{../css/semantic.min.css}">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/semantic.min.js" th:src="@{../js/semantic.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{../css/common.css}">
    <script type="text/javascript" src="../../static/js/header.js" th:src="@{../js/header.js}">  </script>
  </head>
  <body>
    <!-- 导航 -->
    <div th:replace="/../common::header"></div>


    <div class="ui container m_main_top">
      <div class="ui vertical pointing menu" style="float:left;">
        <a class="item" href="/user/showInfo">
          个人信息
        </a>
        <a class="active item" href="/user/showBlog">
          我的博文
        </a>
        <a class=" item" href="/user/showComment">
          我的评论
        </a>
        <a class="item" href="/user/showConcern">
          我的关注
        </a>
        <a class="item" href="/user/showCollect">
          我的收藏
        </a>
        <a class=" item" href="/user/showBlackList">
          我的黑名单
        </a>
        <a class="item" href="/user/showInform">
          我的通知
        </a>
      </div>
      <div class="ui raised very padded segment m_middle_width">

          <h2 class="ui header">我的博文</h2>
          <div class="ui divider"></div>
          <div class="ui celled list">
            <div th:fragment="main" id="main">
            <div th:each="blog:${blogs}">
  <div class="item">
    <button class="ui button" type="button" name="button" th:attr="data-commentid=${blog.id}" onclick="deleteConcern(this)" style="float:right;">删除</button>
    <button class="ui button" type="button" name="button" th:attr="data-commentid=${blog.id}" onclick="modifyBlog(this)" style="float:right;">编辑</button>
    <span class="content">
      <a class="ui header" th:href="@{/blog/Detail(blogId=${blog.id})}">
         <span>
        <span th:if="${blog.manuscript}==草稿">[草稿]</span>
        <san th:if="${blog.manuscript}==发布">[发布]</san>
      </span>
       <span th:text="${blog.title}"></span>
    </a>
      <div>
          <span class="m_mini_margin" ><i class="ui eye icon" th:text="${blog.views}"></i></span>
          <span class="m_mini_margin" ><i th:text="${blog.commentList.size()}" class="ui comment icon"></i></span>
          <span class="m_mini_margin" ><i th:text="${blog.likes}" class="ui thumbs up icon"></i></span>
      </div>
    </span>
    <div class="ui divider"></div>
  </div>
  </div>
  </div>

</div>
        </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
    $(function() {
      $(".ui.dropdown").dropdown();
    });
    function deleteConcern(obj) {
        var commentId = $(obj).data('commentid');
        var r = confirm("确认删除博文？")
	      if (r == false) {
          return;
        }
        $('#main').load("/user/deleteBlog",
            {
            "blogId":commentId
        },function (responseText,statusTxt,xhr) {
        });
    }
    function modifyBlog(obj) {
        var blogId = $(obj).data('commentid');
        window.location.href="/modifyBlog?blogId="+blogId;

    }

</script>

  </body>
</html>
